body
{
    background-color: #22272b;
    color: #fcc920;
    font-family: 'Hack Nerd Font', monospace;
}

p
{
    border-right: 0.08em solid #666;
    font-size: 2em;
    left: 41.5vw;
    position: absolute;
    top: 45.5vh;
}